

h1{
  color: white;
}


.cell{
  background-color: #6A5ACD;
  width: 100px;
  height: 100px;
  margin: 10px;
  font-size: 50px;
  color: white;
  text-align: center;
  line-height: 100px;
}
#main{
  min-height: 100%;
  min-height: 100vh;

  display: flex;
  align-items: center;
}

body {
  background-color: black;
  position: relative;
  font-family: 'Gloria Hallelujah', cursive; }

img {
  max-width: 40%;
  vertical-align: middle; }

#newgame {
  background-color: #52d29d;
  border: none;
  padding: 13px 26px;
  border-radius: 2px;
  color: #ffffff;
  font-family: 'Gloria Hallelujah', cursive;
  cursor: pointer;
  font-weight: 600;
  width: 100%;
  margin-top: 10px; }

#container {
  height: 100%;
  overflow: hidden;
  position: relative;
  padding: 20px; }
  #container #sidebar_wrap {
    width: 35%;
    height: 100%;
    float: left;
    display: flex;
    align-items: center;
    justify-content: center;
     
    padding-top: 7%;
    padding-left: 5%;
  }

#sidebar_wrap #sidebar .characters h3{
  color: white;
}

#sidebar .field {
  margin-bottom: 30px; 
  color: white;
}
  #sidebar .field ul {
    color: white;
    margin: 0;
    padding: 0;
    list-style: none;
    border: 1px solid #8c8c8c;
    border-radius: 2px;
    overflow: hidden;
    font-size: 15px; }
    #sidebar .field ul li {
      float: left;
      padding: 10px 15px;
      border-right: 1px solid #8c8c8c;
      cursor: pointer;
      color: #8c8c8c; }
      #sidebar .field ul li:hover {
        background-color: #b7b7b7;
        color: #fff; }
      #sidebar .field ul li.active {
        background-color: #8c8c8c;
        color: #fff; }
      #sidebar .field ul li:last-child {
        border-right: none; }
  #sidebar .field .starting_player_choices ul li {
    width: 50%;
    text-align: center; }
  #sidebar .field label {
    font-weight: 600;
    margin-bottom: 15px;
    display: block; }
